.span-currency{
    margin-left: 5px;
}

.span-currency-c {
    margin-left: 3px;
}
.allNumberToWordConvert{
    margin-left: 5px;
}

.color-blue {
    color: #55552b;
}
.inputCurrency
{
    height: 42px;
    width: auto;
    display: unset;
}
.convert-amount
{
    font-size: 15px;
}
.display-text-audio
{
    margin: 10px 0 10px 0;
}
body{
    font-family: Lato;
    margin-left: 10px;
}
.eachNumberToWordAudio,.allNumberToWordAudio {
    margin-left: 5px;
}
#convert{
    background-color: #015b9d;
    color: #FFFFFF;
}
.fa-arrow-right
{
    margin-left: 3px;
}
.icon
{
    margin-top: 24px;
}
.mg-bottom-5
{
    margin-bottom: 5px;
}
.lead
{
    float: left;
    overflow: hidden;
    font-size: 16px;
    height: 230px;
    width: 100%;
}
.more
{
    cursor: pointer;
    color: #38c5cb;
}


