body
{
    font-family: Lato;
}
.header-content
{
    text-align: center;
}
.header-content
{
    background: #fff;
    height: 60px;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
}
.header-content img
{
    height: 37px;
}
.logo-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
}
.convert-number-left h3
{
    text-align: center;
}
.inputCurrency
{
    height: 42px;
    width: auto;
    display: unset;
}
.btn-padding
{
    padding: 10px 5px 10px 5px;
    margin-bottom: 3px;
}
.display-text-audio {
    margin: 10px 0 10px 0;
}
.speakout-digit
{
    margin-bottom: 10px;
}
.span-currency
{
    margin-left: 5px;
}
#convert {
    background-color: #015b9d;
    color: #FFFFFF;
}
.fa-arrow-right {
    margin-left: 3px;
}
.mg-bottom-5 {
    margin-bottom: 5px;
}
.lead
{
    float: left;
    overflow: hidden;
    font-size: 16px;
    height: 230px;
    width: 100%;
}
.more
{
    cursor: pointer;
    color: #38c5cb;
}
.cursor-pointer
{
    cursor: pointer;
}
.color-blue {
    color: #55552b;
}
#footer
{
    padding-top: 0;
    background: #f2f2f2;
    padding-bottom: 5px;
}
#footer .footer-left {
    text-align: center;
    color: #555;
    padding-top: 35px;
}
#footer .footer-left ul {
    margin-bottom: 0;
    float: none;
    display: inline-block;
}
#footer .footer-right {
    margin-top: 15px;
    text-align: center;
    color: #555;
}
#footer .footer-left a {
    display: inline-block;
    font-size: 14px;
    padding: 0 8px;
    border-right: 1px solid #ccc;
    color: #555;
    text-decoration: none;
}


