.span-currency {
    font-size: 20px;
    font-weight: 700;
}

.span-currency {
    margin-left: 10px;
}

.allNumberToWord,.eachNumberToWord,.color-blue {
    color: #00b3ee;
}
#numberInput
{
    height: 33px;
}
.inputCurrency
{
    height: 28px;
}
.fa-volume-up
{
    margin-left: 5px;
    cursor: pointer;
}
.convert-amount
{
    font-size: 15px;
}

