.span-currency,.span-currency-c {
    font-size: 20px;
    font-weight: 700;
}
.span-currency{
    margin-left: 5px;
}

.span-currency-c {
    margin-left: 3px;
}
.allNumberToWordConvert{
    margin-left: 5px;
}

.allNumberToWord,.eachNumberToWord,.color-blue {
    color: #00b3ee;
}
.inputCurrency
{
    height: 42px;
    width: auto;
    display: unset;
}
.convert-amount
{
    font-size: 15px;
}
.display-text-audio
{
    margin: 10px 0 10px 0;
}
body{
    font-family: Lato;
}

