@font-face {
    font-family: OpenSans;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/OpenSans-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Light.woff2) format("woff2"), url(../fonts/OpenSans-Light.woff) format("woff"), url(../fonts/OpenSans-Light.ttf) format("truetype"), url(../fonts/OpenSans-Light.svg#Light) format("svg")
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans-Regular.ttf) format("truetype"), url(../fonts/OpenSans-Regular.svg#Regular) format("svg")
}

@font-face {
    font-family: OpenSans;
    font-weight: 600;
    font-style: normal;
    src: url(../fonts/OpenSans-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Semibold.woff) format("woff"), url(../fonts/OpenSans-Semibold.ttf) format("truetype"), url(../fonts/OpenSans-Semibold.svg#Regular) format("svg")
}

@font-face {
    font-family: OpenSans;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/OpenSans-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans-Bold.ttf) format("truetype"), url(../fonts/OpenSans-Bold.svg#Bold) format("svg")
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/OpenSans-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans-ExtraBold.woff) format("woff"), url(../fonts/OpenSans-ExtraBold.ttf) format("truetype"), url(../fonts/OpenSans-ExtraBold.svg#Bold) format("svg")
}

@font-face {
    font-family: AvenirNext;
    font-weight: 800;
    font-style: normal;
    src: url(../fonts/AvenirLTStd-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/AvenirLTStd-Medium.woff) format("woff"), url(../fonts/AvenirLTStd-Medium.ttf) format("truetype"), url(../fonts/AvenirLTStd-Medium.svg#Bold) format("svg")
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    width: 100%;
    background-color: #f9f9f9;
    font-family: Lato;
}

.main, .navtop {
    max-width: 1170px;
    margin: auto;
}

.header {
	max-height: 100px;
	height: 100%;
	width: 100%;
	background-color: #e1163c;
	display: block;
	border-bottom: 1px solid #cab;
	vertical-align: center;
}
.logo {
	margin-bottom: 10px;
	margin-top: 10px;
}
@media screen and (max-width: 1170px) {
    .main, .navtop,.header {
        max-width: 100% !important;
		max-height: 100% !important;
        width: 100%;
    }
}



.nav-item {
    height: 100%;
    width: 100%;
    min-height: 66px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
	vertical-align: center;
    margin: 0;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: left;
}

.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
	vertical-align: center;
}
.search-top {
	margin-top: 0px;
}
.wrap-search-top {position: relative}
.wrap-search-top em {position: absolute; top: 10px;right:15px}

.search-top .form-control{padding:0}
.search-top button{margin-right: 5px; background: #cda; padding-left: 15px;padding-right:15px;color: #000}
.search-top input,.wrap-search-top .search-form-header{font-size: 13px;height: 36px}
.wrap-search-top .select2-choices {max-height: 33px}
.select2-container-multi .select2-choices {
	border: 0px !important;
	background-image: none !important;
	font-size: 14px !important;
}

.top-box-items img {
    max-width: 103px;
    max-height: 75px;
    display: block;
    margin: auto;

}

.input-s-top {
    border-right: 0;
    max-width: 595px
}
.btn-search {height: 100%}
/* select 2 fix box */
.select2-container-multi .select2-choices {
	border: 0px !important;
	background-image: none !important;
	font-size: 14px !important;
	height: 40px !important;
}
.search-form-header {
  min-height: 40px;
  max-height: 40px;
  padding-top: 3px;
}
.input-s-top-append {
    background-color: #fff
}

.select2-container-multi .select2-choices {
    border: 0px !important;
    background-image: none !important;
    font-size: 14px !important;
    height: 40px !important;
}

.search-form-header {
    min-height: 40px;
    max-height: 40px;
    padding-top: 3px;
}

/*top box*/
.top-title {
    font-family: Lato;
    padding-top: 46px;
    padding-bottom: 26px;
    text-align: center;
    font-size: 23px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.coupon-body {
    padding-left: 38px;
    padding-top: 0px;

}

.cp-logo {
    width: 155px;
    height: 120px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid #e5e6e6;
}

.cp-logo-top {
    height: 79px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.cp-logo-bottom {
    border-top: 1px dashed #a4d7da;
    font-size: 12px;
    color: #d4d7da;
	padding-top: 10px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.top-box-items {
    margin-left: 50px
}

/* body box item*/

.box-bottom-btn {
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-btn {
    width: 100%;
    margin: auto;
    display: block;
}

.button-outer {
    box-sizing: content-box;
    margin: auto;
    text-align: center;
    width: 135px;
    height: 34px;
    position: relative;
}

.button-outer .btn-green {
    text-transform: uppercase;
    margin: auto;
    box-sizing: content-box;
    padding: 5px;
    width: 135px;
    border-radius: 2px;
    background-color: #00b3b6;
    color: #fff !important;
    font-size: 15px;
}

.get-code {
    width: 72% !important;
    position: absolute;
    background-color: #00b3b6;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto;
}

.peel-under {
    margin: auto;
    line-height: 1.5;
    font-size: 100%;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 34px;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    border: 1px dashed #00b3b6;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

/* body box item*/

.cp-item {
    background-color: #fff;
    border: 1px solid #e6e7e7;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
}

.brand-logo {
    min-width: 121px;
    min-height: 125px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px dashed #e3e3e3;
}

.brand-logo img {
    max-height: 96px;
    max-width: 96px;
}

.cp-info {
    min-height: 125px;
    color: #292a2a;
    padding-left: 5px;
}

.cp-r-info {
    padding-right: 0;
}

.cp-title {
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
    max-height: 70px;
    font-family: AvenirNext;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cp-title-home {
    padding-top: 15px;
    margin-bottom: 10px;
}

.cp-menu {
    height: 35px;
    padding-top: 0;
    font-size: 13px;
}

.cp-menu .expr {
    color: #949595;
}

.verified, .top-verified {
    margin-top: 13px;
    color: #5cb95e;
}

.top-verified {
    display: block;
}

.cp-menu span {
    padding: 3px;
}

.cp-code-btn {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cp-code-btn .wrap-btn {
    height: 42px;
}

.cp-code-btn .btn-green {
    width: 118px !important;
    max-width: 118px !important;
    line-height: 1.9;
    background-color: #fdbb30;
    border-radius: 3px;
    text-transform: capitalize;
}

.padding-0 {
    padding: 0;
}

.m-r-0 {
    margin-right: 0;
}

.cp-code-btn .peel-under {
    height: 40px;
    border: 0;
    background-color: #fd4c46;
    color: #fff;
    line-height: 1.9;
    border-radius: 3px;
}

.cp-code-btn .get-code {
    width: 70% !important;
    border-right: 0;
    background-color: #fd4c46;
}

.cp-code-btn .peel-under:after {
    position: absolute;
    content: " ";
    width: 95%;
    height: 90%;
    right: 1.5%;
    top: 5%;
    background-color: rgba(254, 255, 255, 0.5);
}

/* home popular store */
.link-popular {
    background-color: #fff;
    padding: 10px;
    text-align: left !important;
    padding-left: 40px;
	margin-bottom: 40px
}

.link-popular a {
    color: #78c0f3
}

h1.title {
    color: #464646
}

.link-popular li {
    list-style: none
}

.link-popular a {
    width: 100%;
    font-family: Lato;
    font-size: 14px
}

.link-popular div {
    padding-left: 0;
    padding-right: 0
}

.email-footer {
    width: 100%;
    background-color: white;
    margin-top: 23px;
    padding-bottom: 57px;
}

.email-footer-content {
    text-align: center;
    padding-top: 60px;

}

.email-footer-title {
    font-size: 28px;
    padding-bottom: 18px;
    color: #403428;

}

.email-footer-desc {
    color: #403428;
}

.email-footer-input {
    margin-top: 35px;

}

.email-footer-input input {
    width: 478px;
    height: 50px;
    padding: 0 90px 0 15px;

}

.email-footer-input button {
    height: 50px;
    width: 140px;
    background-color: #259fc4;
    margin-bottom: 4px;
    color: #ffffff
}

.info-footer {
    background-color: #e1163c
}

.info-footer p {
    color: #ffffff;
    margin-top: 37px;
    margin-bottom: 37px
}

@media screen and (max-width: 1024px) {
    .row
    {
        margin-left: 0px;
        margin-right:  0px;
    }
    .top-box-items
    {
        margin-left: 50px;
    }

}

@media screen and (max-width: 768px) {
    /*top item*/
    .top-box-items .box-item {
        width: 240px;
    }


    /*bottom item*/
    .brand-logo {
        float: none;
    }

    .cp-item {
        margin: 5px;
    }

    .cp-code-btn {
        margin-bottom: 10px;
    }

    .input-s-top {
        max-width: 300px;
        left: 40px
    }
    .input-s-top-append
    {
        margin-left: 40px;
    }
    .top-box-items
    {
        margin-left: 20px;
    }
    .info-footer p
    {
        font-size: 13px;
    }
}
@media screen and (max-width: 584px) {
	.mobi-center { text-align: center }
	.search-top {margin-bottom: 8px}
}
@media screen and (max-width: 425px) {
    /*top item*/
    .top-box-items .box-item {
        width: 100%;
    }
    .info-footer p
    {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .box-bottom-text {
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.5em;
        height: 1.5em;
    }

    .email-footer-input input {
        width: 425px
    }
}

@media screen and (max-width: 375px) {
    .email-footer-input input {
        width: 375px
    }
    .top-box-items
    {
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) {
    .email-footer-input input {
        width: 320px
    }
    .top-title
    {
        font-size: 15px;
    }
    .cp-title-home
    {
        text-align: center;
    }
    top-box-items
    {
        margin-left: 0px;
    }
    .cp-logo{
        margin:auto;
		margin-top: 3px;
    }
}